<div class = "container text-center">
  <div class = "row justify-content-center align-items-center">
    <div class = "col-md-6 mb-3">
      <h1>Contact</h1>
      <p class = "lead">Have questions about how your organization can leverage OKR API? Please get in touch.</p>
    </div>
  </div>
  <div class = "row justify-content-center align-items-center">
    <div class = "col-md-6">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
        hbspt.forms.create({
      	portalId: "6675061",
      	formId: "17031d33-7bc6-492e-b2c8-15def6243d9a"
      });
      </script>
    </div>
  </div>
</div>
