<div class = "container">
  <div class = "row justify-content-center mb-3">
    <div class = "col-md-6 text-center">
      <h2>Features</h2>
      <p class = "lead">OKR API offers a novel approach to OKR management</p>
    </div>
  </div>
  <div class = "row justify-content-center">
    <div class = "col-md-4">
      <h3>Open-Source</h3>
      <ul>
        <li>Built with <a href = "https://strapi.io/" target = "_blank" >Strapi</a></li>
        <li>Community-maintained</li>
        <li>MIT licence</li>
      </ul>
    </div>
    <div class = "col-md-4">
      <h3>API first</h3>
      <ul>
        <li>Integrate anywhere</li>
        <li>Headless OKR management</li>
        <li>RESTful or GraphQL</li>
      </ul>
    </div>
    <div class = "col-md-4">
      <h3>Extensible</h3>
      <ul>
        <li>Customizable content model</li>
        <li>Plugin architecture</li>
        <li>Documentation</li>
      </ul>
    </div>
  </div>
  <div class = "row justify-content-center align-items-center mt-5 mb-3">
    <div class = "col-md-6 text-center">
      <img src = "/assets/images/screens/screen-2.png" class = "shadow img-fluid mb-3" alt ="Screenshot: creating an objective in the OKR API">
      <small><i>Creating objectives and key results in OKR API</i></small>
    </div>
    <div class = "col-md-5">
      <h3>Create, manage, deploy</h3>
      <ul>
        <li>Create OKRs in a friendly interface</li>
        <li>Manage metrics and log results</li>
        <li>Deploy OKRs anywhere</li>
      </ul>
    </div>
  </div>
</div>
