<div class = "container">
  <div class = "row">
    <div class = "col-md-5">
      <a class="navbar-brand" href="/">OKR API</a>
      <p class = "lead">An open-source, API first, CMS solution for managing and integrating OKR into your applications.</p>
    </div>
    <div class = "col-md-5">
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" target = "_blank" href="https://github.com/okria/okr-strapi">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
