<div class = "container">
  <div class = "row justify-content-center align-items-center">
    <div class = "col-md-5">
      <h2>Get Started</h2>
      <p>Get OKR API on Github and follow our step by step guide.</p>
      <a class="btn btn-primary btn-lg shadow" target = "_blank" href="https://github.com/okria/okr-strapi" role="button">Visit Github</a>
    </div>
    <div class = "col-md-7">
      <div class = "cli-box shadow">
        <div class = "cli-bar"><span></span><span></span><span></span></div>
        <pre class = "cli-body px-3"><code>
# Instal Strapi
npm i strapi -g

# Clone the repo
git clone git@github.com:okria/okr-strapi.git

# Navigate to folder
cd okr-strapi

# Install dependancies
npm install

# Run OKR API
strapi develop
        </code></pre>
      </div>
    </div>
  </div>
</div>
