<div class = "container">
  <div class = "row justify-content-center mb-3">
    <div class = "col-md-6 text-center">
      <h2>Pricing options</h2>
      <p class = "lead">Intrduction to the pricing model</p>
    </div>
  </div>
  <div class = "row justify-content-center align-items-center">
    <div class = "col-md-4">
      <div class = "card">
        <div class = "card-body">
          <h3 class = "card-title">Option</h3>
          <p class = "card-text">Summary of the option value proposition.</p>
          <ul>
            <li>Feature at this option</li>
            <li>Feature at this option</li>
            <li>Feature at this option</li>
          </ul>
          <p class = "price">$9.99</p>
          <a class = "btn btn-success btn-block" href = "/#">Buy now</a>
        </div>
      </div>
    </div>
    <div class = "col-md-4">
      <div class = "card">
        <div class = "card-body">
          <h3 class = "card-title">Option</h3>
          <p class = "card-text">Summary of the option value proposition.</p>
          <ul>
            <li>Feature at this option</li>
            <li>Feature at this option</li>
            <li>Feature at this option</li>
          </ul>
          <p class = "price">$9.99</p>
          <a class = "btn btn-success btn-block" href = "/#">Buy now</a>
        </div>
      </div>
    </div>
    <div class = "col-md-4">
      <div class = "card">
        <div class = "card-body">
          <h3 class = "card-title">Option</h3>
          <p class = "card-text">Summary of the option value proposition.</p>
          <ul>
            <li>Feature at this option</li>
            <li>Feature at this option</li>
            <li>Feature at this option</li>
          </ul>
          <p class = "price">$9.99</p>
          <a class = "btn btn-success btn-block" href = "/#">Buy now</a>
        </div>
      </div>
    </div>
  </div>
</div>
