<div class = "container">
  <div class = "row justify-content-center mb-3">
    <div class = "col-md-6 text-center">
      <h2>Use Cases</h2>
      <p class = "lead">Lot’s of solutions exist for managing OKRs.<br> OKR API is the only solution that lets you</p>
    </div>
  </div>
  <div class = "row justify-content-center">
    <div class = "col-md-4">
      <h3>Integrate</h3>
      <p>Have a use case not covered by other solutions? Building your own OKR app? Require integrations with an existing third-party?</p>
      <p>OKR API makes no assumptions about what you'll do with it, it's yours to use freely.</p>
    </div>
    <div class = "col-md-4">
      <h3>Extend</h3>
      <p>Require custom API calls, permissions policies, or content architecture?</p>
      <p>OKR API is built with <a href = "https://github.com/okria/okr-strapi">Strapi</a>: offering robust CMS architecture and<a href = "https://strapi.io/documentation/3.0.0-beta.x/getting-started/introduction.html">documentation</a> to serve a range of unique needs.</p>
    </div>
    <div class = "col-md-4">
      <h3>Secure</h3>
      <p>Have specific requirements around data security, portability or sovereignty?</p>
      <p>OKR API allows you to take control of your data, with a range of deployment and database configurations and built in authentication, user access, and permissions.</p>
    </div>
  </div>
  <div class = "row justify-content-center pt-3">
    <div class = "col-md-6 text-center">
      <img src = "/assets/images/screens/screen-3.png" class = "shadow img-fluid mb-3" alt = "Screenshot: example output in JSON">
      <small><i>Example JSON resonse of objectives endpoint (in Postman)</i></small>
    </div>
  </div>
</div>
